#nprogress {
  pointer-events: none;

  .bar {
    background: #29d;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
  }

  .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }

  .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
  }

  .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader{
  width: 100px;
  height: 100px;
  margin: 40px auto;
  transform: rotate(-45deg);
  font-size: 0;
  line-height: 0;
  animation: rotate-loader 5s infinite;
  padding: 25px;
  border: 1px solid #cf303d;
  box-sizing: border-box;

  .loader-inner{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 50%;
  }

  .loading{
    position: absolute;
    background: #cf303d;
  }

  .one{
    width: 100%;
    bottom: 0;
    height: 0;
    animation: loading-one 1s infinite;
  }

  .two{
    width: 0;
    height: 100%;
    left: 0;
    animation: loading-two 1s infinite;
    animation-delay: 0.25s;
  }

  .three{
    width: 0;
    height: 100%;
    right: 0;
    animation: loading-two 1s infinite;
    animation-delay: 0.75s;
  }

  .four{
    width: 100%;
    top: 0;
    height: 0;
    animation: loading-one 1s infinite;
    animation-delay: 0.5s;
  }
}

@keyframes loading-one {
  0% {
    height: 0;
    opacity: 1;
  }
  12.5% {
    height: 100%;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 0;
  }
}
@keyframes loading-two {
  0% {
    width: 0;
    opacity: 1;
  }
  12.5% {
    width: 100%;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@keyframes rotate-loader {
  0% {
    transform: rotate(-45deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(-135deg);
  }
  45% {
    transform: rotate(-135deg);
  }
  50% {
    transform: rotate(-225deg);
  }
  70% {
    transform: rotate(-225deg);
  }
  75% {
    transform: rotate(-315deg);
  }
  95% {
    transform: rotate(-315deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

.loaderProgress {
  background-color: #fff;

  #loader {
    width:200px;
    height:200px;
    overflow:visible;
    position:absolute;
    left:50%;
    top:50%;
    margin: -100px auto 0 -100px;
    background:#ffffff;
  }

  p {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    text-align: center;
  }
}

